header.header {
  height: 400px;
  width: 100%;
  background-color: #24605a;
  background-image: url('/images/blizzard.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 90px;
  z-index: 1;
  margin-bottom: 25px;
}

h2 {
  margin-top: 0;
  color: #ffff;
}
