nav {
  background-color: #4056A1;
  color: #FFFF;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

span {
  font-family: 'Bungee';
  
}

i {
  color: red;
}
.create-tweet {
  text-align: center;
}