nav {
  background-color: #24605a;
  color: #FFFF;
  height: 120px;width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

span {
  font-family: 'Bungee';
}

i {
  color: red;
}
.create-tweet {
  text-align: center;
}