#tweet-text {
  display: block;
  border: none;
  border-bottom: 1px solid;
  background-color: #f4f1ec;
  outline: none;
  resize: none;
  width: 100%;
}

h2 {
  text-align: center;
}

form div {
 display: flex;
 justify-content: space-between;
 font-family: 'Bungee';
 margin: 1rem;
}

button {
  background-color: #4056A1;
  color: #FFFF;
  border: none;
}

.counter-red {
  color: red;
}